<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>kindle-to-markdown.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date [%p] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>
</configuration>